@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root {
    --color-bg: rgb(55, 0, 60);
    --color-black: rgb(0, 0, 0);
    --color-white: #fff;
    --color-light: rgb(141, 138, 138);
    --color-variant: rgb(225, 42, 137);
    --color-drop: rgb(225, 40, 130);
    --color-bg-variant: rgb(45, 55, 101);
    --color-bg-variant-light: rgb(21, 247,255);

    --transition: all 400ms ease;
    width: 1340px;
    max-resolution: 100%;
    font-family: 'Roboto',  sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: 2vh;
}

 body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--color-white);
    color: #000;
 }

 a:link {
    text-decoration-line: none;
    cursor: pointer;
 }


/* ========================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
    

}

/* ========================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 768px) {
    width: 360px;
 
}